<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sound_round_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{12,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sound_round_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,68},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{24,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sound_round_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{44,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sound_round_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sound_round_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,114},{1,1}}</string>
                <key>offset</key>
                <string>{-31.5,31.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sound_round.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6be86ac2e564ac941ac3862b8d3fffa8:a9877f5e04c1a547e1f4c30cffe95ae7:2955bfbe0623c7c266829685a5fd2600$</string>
            <key>textureFileName</key>
            <string>sound_round.png</string>
        </dict>
    </dict>
</plist>
