<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trash_can_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{90,46}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>trash_can_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{46,90}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{46,90}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trash_can.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1149f8c99a2a3cc3adc8b96755fd6830:6208e55e761f040a67aeda91b2de1aa9:72c53c0bd833d625244f44b85de3571e$</string>
            <key>textureFileName</key>
            <string>trash_can.png</string>
        </dict>
    </dict>
</plist>
